.filtered-preview-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-loading-spinner-size {
    width: 20px;
    height: 20px;
}

.gallery-image-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    z-index: 2;
}